// must contain ALL expected settings & default values for minimal required settings for the launcher
[Usr_Dir]
render Usr_Dir= true
^input_type render Usr_Dir= bool(true/false|y/n)
^restrict_usr render Usr_Dir=true
^render render Usr_Dir= false

movable Usr_Dir= true
^input_type movable Usr_Dir= bool(true/false|y/n)
^restrict_usr movable Usr_Dir= true
^render movable Usr_Dir= false

path Usr_Dir= *ROOT DIR*/usr
^input_type path Usr_Dir= str
^restrict_usr path Usr_Dir= true
^render path Usr_Dir= false

[Logs]
render Logs= true
^input_type render Logs= bool(true/false|y/n)
^restrict_usr render Logs= true
^render render Logs= false

output Logs= *USR DIR*/logs
^input_type output Logs= str
^restrict_usr output Logs= true
^render output Logs= true

handler Logs= file
^input_type handler Logs= str["file"|"console"]
^restrict_usr handler Logs=true
^render handler Logs= true

level Logs= info
^input_type level Logs= str["debug"|"info"|"warning"|"error"|"critical"] | int[1|2|3|4|5, 10|20|30|40|50]
^restrict_usr level Logs= false
^render level Logs= true

[Screen]
render Screen= true
^input_type render Screen= bool(true/false|y/n)
^restrict_usr render Screen= true
^render render Screen= false

ratio Screen= *AUTO*
^input_type ratio Screen= str["*AUTO*"] | dict{int[1,inf]:int[1,inf]}
^restrict_usr ratio Screen= true
^render ratio Screen= true

width Screen= *AUTO*
^input_type width Screen= str["*AUTO*"] | int[1,inf]
^restrict_usr width Screen= false
^render width Screen= true

height Screen= *AUTO*
^input_type height Screen= str["*AUTO*"] | int[1,inf]
^restrict_usr height Screen= false
^render height Screen= true

[Application]
render Application= true
^input_type render Application= bool(true/false|y/n)
^restrict_usr render Application= true
^render render Application= false

width Application= 50
^input_type width Application= range(10,100,0.01)
^restrict_usr width Application= false
^render width Application= true

height Application= 50
^input_type width Application= range(10,100,0.01)
^restrict_usr width Application= false
^render width Application= true

resizable Application= true
^input_type resizable Application= bool(true/false|y/n)
^restrict_usr resizable Application= false
^render resizable Application= true

movable Application= true
^input_type movable Application= bool(true/false|y/n)
^restrict_usr movable Application= false
^render movable Application= true
