[User Directory]
usr dir movable=True

usr dir=*ROOT DIR*/usr
usr render usr dir=True

[Logs]
// Logs.output
log output=*USR DIR*/logs
usr log output type=string
usr change log output=False
usr render log output=True

log handler=file
log handler checked from=runtime

// Logs.level
log level=info
usr log level type=string
usr change log level=True
usr render log level=True

[Screen]
screen width=*AUTO*
screen height=*AUTO*
screen ratio=*AUTO*

[Application]
// width
window width=50%
user window width type=float
user change window width=True
usr render window width=True

// height
window height=50%
user window height type=float
usr change window height=True
usr render window height=True

window resizable=True
usr render window resizable=True

window movable=True
bezel offset top left=25%,13%